
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(0, 0, 0); 
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    backdrop-filter: blur(10px);
    z-index: 100;
    color: white;
}

header nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    margin: 0 30px;
    font-size: 1.2rem;
}

.container {
    position: absolute;
    width: 100%;
}

.landing-container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    z-index: 10;
}

.landing-container div{
    text-align: center;
}

.landing-container h1 {
    text-align: center;
    color: white;
    font-size: 5rem;
    margin: 0px;
    font-weight: bold;
    overflow: hidden;
}

.landing-container p {
    margin: 0px 0px;
    color: rgb(214, 214, 214);
}

.landing-container button {
    font-size: 1rem;
    padding: 10px 20px;
    color: white;
    border: none;
    font-weight: bold;
    background-color: rgb(0, 153, 255);
    border-radius: 10px;
    margin: 20px 0px;
}

/* Loading bar and screen CSS */ 

.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    transition: transform 1s ease;
}

.loading-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 300px; /* Full-width */
    height: 25px; /* Specified height */
    background: #4b4b4b; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.loading-slider-thumb {
    transform: translate(-100%);
    height: 100%;
    background-color: white;
    width: 100%;
    transition: transform 1s ease;
}

.hidden {
    transform: translateY(-100vh);
}

/* Section CSS */

.section {
    height: 100vh;
    width: 100%;
}

.section-one {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left {
    width: 50%;
    font-size: 1.2rem;
    padding-left: 10%;
    box-sizing: border-box
}

.left div {
    text-align: left
}

.left div h3 {
    font-size: 3rem;
}

.section-two {
    background-color: transparent;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.right {
    width: 50%;
    font-size: 1.2rem;
    padding-right: 10%;
}

.right div h3 {
    font-size: 2rem;
}

.right div {
    text-align: right;
}

@keyframes loading-roll-up {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
}


/* GUI MENU */
.dg.ac {
    z-index: 100 !important;
}

@media only screen and (max-width: 480px) {
    .section-one, .section-two {
        justify-content: center;
    }
    .left, .right {
        text-align: center;
        width: 100%
    }
    
}